name: ci
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.platform }}
    env:
      RUST_BACKTRACE: 1
      RUST_LOG: isahc=debug
      RUST_TEST_THREADS: 1
    steps:
      - uses: actions/checkout@master
        with:
          submodules: true

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: "1.38.0"
          default: true

      - run: cargo test --features psl

      - run: cargo run --release --example simple

  test-nightly:
    runs-on: ubuntu-latest
    container: rustlang/rust:nightly
    env:
      RUST_BACKTRACE: 1
      RUST_LOG: isahc=debug
    steps:
      - uses: actions/checkout@master
        with:
          submodules: true

      - run: cargo test --features psl,nightly
